---
import Github from "./icons/Github.astro";

const PROJECTS = [
  {
    title: "Food Order",
    description:
      "Food order application with an administrative section to manage products and orders.",
    image: "images/fast-food.png",
    link: "https://food-order-iota-seven.vercel.app/",
    github: "https://github.com/torres-leo/food-order",
    tags: [
      "Nextjs",
      "TypeScript",
      "Prisma",
      "Zustand",
      "Tailwind CSS",
      "Sass",
      "Cloudflare-images",
    ],
  },
  {
    title: "Budget Control",
    description:
      "Keep your budget in check, putting your expenses (according to their category) in the app.",
    image: "images/budget-control.png",
    link: "https://control-presupuesto-leo-torres.netlify.app/",
    github: "https://github.com/torres-leo/control-presupuesto-react",
    tags: ["React", "Context API", "Local Storage", "Talwind CSS"],
  },
  {
    title: "Streaming App",
    description:
      "Streaming App helps users compare and purchase various streaming service subscriptions.",
    image: "images/streaming-app.png",
    link: "https://streaming-app-rho.vercel.app/",
    github: "https://github.com/torres-leo/streaming-app",
    tags: ["Nextjs", "TypeScript", "Tailwind CSS", "Zustand"],
  },
];
---

<div class="flex gap-x-10 flex-wrap gap-y-10 justify-center">
  {
    PROJECTS.map((project) => (
      <article class="rounded-md bg-gray-800/90 hover:bg-gray-700/80 max-w-[350px] w-full overflow-hidden shadow-2xl shadow-white/15">
        <a href={project.link} target="_blank">
          <img
            class="rounded-t-md bg-cover bg-center hover:scale-95 transition-all duration-500 ease-in-out h-52 w-full"
            src={project.image}
            alt={`project ${project.title}`}
          />
        </a>
        <div class="p-6 flex flex-col gap-y-4">
          <div class="flex items-center">
            <h5 class="text-sky-400 text-xl font-bold flex-1">
              {project.title}
            </h5>
            <a
              class="flex items-center gap-3 p-1"
              href={project.github}
              target="_blank"
            >
              <Github customClass="size-5 hover:opacity-80 hover:scale-105 transition-all delay-100 text-gray-200" />
            </a>
          </div>
          <p class="text-white/80 text-base leading-snug">
            {project.description}
          </p>

          <ul class="flex flex-wrap gap-x-2 gap-y-1 items-center md:h-[44px]">
            {project.tags.map((tag) => (
              <li class="text-gray-500 text-sm">{tag}</li>
            ))}
          </ul>

          <div class="">
            <a
              class="flex justify-center items-center gap-2 p-2 bg-gradient-to-r from-green-400/50 to-sky-400/50 rounded text-sm font-medium text-white cursor-pointer hover:bg-green-400/30 transition-all duration-150 capitalize tracking-wide"
              href={project.link}
              target="_blank"
            >
              visit project
            </a>
          </div>
        </div>
      </article>
    ))
  }
</div>
